<div class="banner-cocktail" style="background-image: url(<%= cl_image_path @cocktail.photo.key %>)">
</div>
  <div class="container-cocktail">
    <h1 class="h1-cocktail"><%= @cocktail.name %></h1>
  </div>
