<div class="banner-cocktail" style="background-image: url(https://source.unsplash.com/POFPU2yBj6Q/2400x1920)">
</div>
  <div class="container-cocktail">
    <h1 class="banner-h1"><%= @cocktail.name %></h1>
  </div>
