 <div class="hero" style="background-image: url(https://s1.1zoom.me/big0/685/Cocktail_Black_background_Two_Stemware_560594_1280x802.jpg)">
      <div class="container-main">
        <h1 class="banner-h1">Cocktail Factory</h1>
        <h2>Where the magic happens...</h2>
      </div>
    </div>
