<%= render 'mainbanner' %>
<div>
  <p class="featured">Today's choice...</p>
</div>
<div class="container-featured">
  <div class="image-wrapper">
    <img class="image-1" src="https://source.unsplash.com/eN6_2u8Pcrc/600x400" />
    <img class="image-2" src="https://source.unsplash.com/eN6_2u8Pcrc/600x400" />
    <img class="image-3" src="https://source.unsplash.com/eN6_2u8Pcrc/600x400" />
    <img class="image-4" src="https://source.unsplash.com/eN6_2u8Pcrc/600x400" />
  </div>
  <div class="featured-info">
    <h1>Margarita</h1>
    <ul>
      <li>- 1 1/2 ounces silver tequila</li>
      <li>- 1 ounce orange liqueur (Cointreau, Grand Marnier or Triple Sec)</li>
      <li>- 3/4 ounce freshly-squeezed lime juice</li>
      <li>- optional sweetener: agave nectar or simple syrup, to taste</li>
      <li>- ice</li>
      <li>- optional: lime wedge and coarse salt for rimming the glass</li>
    </ul>
  </div>
</div>
<h1 class="header">Our Cocktails...</h1>
<div class="container-fluid main">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-3">
      <div class="content-block__effect">
        <div class="portfolio-effect">
          <div class="portfolio-item portfolio-effect__item portfolio-item--eff1 shadow">
            <img class="portfolio-item__image" src="https://source.unsplash.com/featured/?cocktails" alt="Portfolio Item" width="826" height="551">
            <div class="portfolio-item__info">
              <h3 class="portfolio-item__header"><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container-jumbo">
    <h1 class="display-4">Create Your Cocktail</h1>
    <p class="lead">Create a cocktail of your choice with the many ingredients we have</p>
    <%= link_to 'Start here', new_cocktail_path(@cocktail), class: 'btn btn-outline-primary' %>
  </div>
</div>
