<div class="footer">
      <div class="container-fluid main">
        <h3>Made with a shaker.</h3>
        <i class="fab fa-jedi-order"></i>
        <i class="fab fa-old-republic"></i>
        <i class="fab fa-galactic-republic"></i>
        <i class="fab fa-galactic-senate"></i>
      </div>
    </div>
