<div class="footer">
      <div class="container-fluid main">
        <h3>Made with a shaker.</h3>
        <i class="fas fa-glass-martini-alt" style="font-size: 40px; color: #F104A0;"></i>
      </div>
    </div>
