.banner-cocktail {
background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -400px;
  height: 450px;
  padding: 100px 0;
  margin: auto;
  filter: blur(3px);
  z-index: -1;
}


.container-cocktail {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -250px;
  width: 800px;
  color: white;
  padding: 50px;
  background-color: rgba(0,0,0,0.3);
  filter: blur(0px);
  z-index: 1;
}
