@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Philosopher:ital,wght@1,700&display=swap');

.hero {
  background-color: black;
  background-size: fit;
  background-repeat: no-repeat;
  background-position: 0px -90px;
  padding: 210px 0;
  padding-left: 600px;
}

.banner-h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 120px;
}



.container-main {
  position: relative;
  border-radius: 10px;
  margin: 0 auto;
  width: 800px;
  color: white;
  padding: 50px;
}

.container-main div {
  position: absolute;
  bottom: 25px;
  right: 100px;
  margin-top: 7%;
}

.container-main h2 {
  color: #F104A0;
  font-size: 40px;
  font-family: 'Satisfy', cursive;
}
